body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 85%;
}

.weather {
  max-width: 600px;
  border: 1px solid #61A5B5;
  border-radius: 5px;
  margin: 15px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration-color: #424649;

}

#top-line {
     margin-left: 12px;
     margin-right: 12px;
  }

  #search-for-place {
  font-style: italic;
  font-size: 14px;
}

#submitSearch {
font-size: 14px;
}

#current-location {
  display: inline-block;

  float: right;
}


#today {
  font-size: 15px;
  margin:  8px 0 0 1px;
  display: block;
}

.place {
  color: rgb(28, 28, 46);
  font-weight: 500;
  font-size: 32px;
}

#value {
  text-align: right;
  padding-right: 0;
}
#temperature {
  text-align: right;
  color: rgb(28, 28, 46);
  font-size: 42px;
}

#image {
  text-align: left;
  padding-left: 0px;
}

img {
display: block;
margin:0; 
}

#perDay {
  text-align: center;
}

#metrics {
  font-size: 35px;
  color: rgb(28, 28, 46);
  
  }

.active {
  color:  rgb(28, 28, 46);
  cursor: default;
  text-decoration: none;
  font-size: 30px;
}
.active:hover {
  text-decoration: none;
  color:  rgb(28, 28, 46);
}

#description {
  font-size: 12px;
  text-align: right;
  
}

.extremum {
  padding-top: 10px;
  font-size: 14px;
}
.features {
  font-size: 12px;
  padding-top: 10px;
}


#description:first-letter {text-transform: uppercase;}


.card {
  text-align: center;
  width: 135px;
  height: 85px;
  font-size: 10px;
}

.dayPart {font-weight: 500;}

.tempDay { font-weight: 300;}

.accordion-body {
  margin-left: 0px;

}
.accordion-button {
  height: 35px;
  font-size: 8px;}
  .message {
    font-size: 14px;
  font-weight: 500;
  text-align: right;}

.table {
  font-size: 14px;
padding: 0px
}



footer {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
  margin-left: 15px;
}

a #codeByMe:link {
  text-decoration: #50D9F4;
  font-size: 14px;
  
}
br {content: "";
  margin: 3em;
  display: block;
  font-size: 25%;}